@import "~bootstrap/scss/bootstrap";

// @import "./dark-first.scss";
// @import "./white-first.scss";
// @import "./cv2.scss";

h1
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

td {
    padding: 0;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    transition: margin .5s;
    margin: 0 0 0 -250px;
    position: fixed;
    z-index: 10000;
}

.wrapper.is-nav-open {
    margin-left: 0;
}

.nav {
    position: relative;
    width: 250px;
    height: 100%;
    padding: 20px;
    border-right: 1px solid #999;
    background-color: #ccc;
}
.nav__icon {
    position: absolute;
    top: 0;
    right: -60px;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: color .3s;

    :hover {
        color: #5eb2ff;
    }
}
