.app-footer__footer {
    // background-image: linear-gradient(to right, #EE5555, #AA3333);
    // background-image: linear-gradient(120deg, #155799, #159957);
    background-image: linear-gradient(120deg, #155799, #375a7f);
    padding: 10px 10px 10px 0;
    // color: white;
    text-align: right;
    margin-top: 20px;
}
