@import "node_modules/bootstrap/scss/bootstrap";

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.main-container {
  margin-top: 20px;
}

.bg-dark {
  padding: 10px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: white;
  }
}

.table td {
  padding: 0.25rem;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  transition: margin .5s;
  margin: 0 0 0 -250px;
  position: fixed;
  z-index: 10000;

  &.is-nav-open {
    margin-left: 0;
  }
}

.nav {
  position: relative;
  width: 250px;
  height: 100%;
  padding: 20px;
  border-right: 1px solid #999;
  background-color: #ccc;
}

.nav__icon {
  position: absolute;
  top: 0;
  right: -60px;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: color .3s;

  &:hover {
    color: #5eb2ff;
  }
}
